# Normalizacion general
* text=auto

# Archivos ejecutados o procesados en Linux
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.env.example text eol=lf
requirements*.txt text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Scripts exclusivos de Windows
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.docx binary
*.zip binary